<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>bz.jed.2fa</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>32297F6A-0EF0-4ACE-95F0-50F035C3B068</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9B6A508-D261-4BFD-AA30-6A0B48F0C151</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>351E1B59-56F1-4484-8A8B-512A577E72BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D98FDF5-E2E0-4EE9-A549-1B963AF698E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>677C2643-CB18-4F61-9854-21D7140DC1FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32297F6A-0EF0-4ACE-95F0-50F035C3B068</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A018F65B-3938-434B-9A7B-0E1BED8F66D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32FEC97C-DCD6-4EAA-824D-C277F4F9203B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>01E85CCA-E9A0-497D-92B7-4EFA26385777</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C148969E-DF31-4493-9277-7AB8F9232041</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>351E1B59-56F1-4484-8A8B-512A577E72BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E71BC0F3-3905-4C17-AD6E-BE87BD48238B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A018F65B-3938-434B-9A7B-0E1BED8F66D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>jlipp</string>
	<key>description</key>
	<string>2 Factor Auth token to clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>2FA</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/local/bin/node getOTP.js "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A018F65B-3938-434B-9A7B-0E1BED8F66D0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>2f</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>/usr/local/bin/node lookup.js "{query}"</string>
				<key>subtext</key>
				<string>2f serverName</string>
				<key>title</key>
				<string>2 Factor Authentication</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E71BC0F3-3905-4C17-AD6E-BE87BD48238B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Copied {query} to clipboard</string>
				<key>title</key>
				<string>2 Factor Auth</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>32FEC97C-DCD6-4EAA-824D-C277F4F9203B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>01E85CCA-E9A0-497D-92B7-4EFA26385777</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>2f add</string>
				<key>script</key>
				<string>/usr/local/bin/node lookupAdd.js "{query}"</string>
				<key>subtext</key>
				<string>2f add serverName serverSecret</string>
				<key>title</key>
				<string>2 Factor Authentication - Add</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C148969E-DF31-4493-9277-7AB8F9232041</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>/usr/local/bin/node add.js "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>351E1B59-56F1-4484-8A8B-512A577E72BD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>2 Factor Auth</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7D98FDF5-E2E0-4EE9-A549-1B963AF698E4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>2f delete</string>
				<key>script</key>
				<string>/usr/local/bin/node lookupDelete.js "{query}"</string>
				<key>subtext</key>
				<string>2f delete serverName</string>
				<key>title</key>
				<string>2 Factor Authentication - Delete</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>677C2643-CB18-4F61-9854-21D7140DC1FC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>/usr/local/bin/node delete.js "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>32297F6A-0EF0-4ACE-95F0-50F035C3B068</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>2 Factor Auth</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B9B6A508-D261-4BFD-AA30-6A0B48F0C151</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>01E85CCA-E9A0-497D-92B7-4EFA26385777</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>32297F6A-0EF0-4ACE-95F0-50F035C3B068</key>
		<dict>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>32FEC97C-DCD6-4EAA-824D-C277F4F9203B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>351E1B59-56F1-4484-8A8B-512A577E72BD</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>677C2643-CB18-4F61-9854-21D7140DC1FC</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>7D98FDF5-E2E0-4EE9-A549-1B963AF698E4</key>
		<dict>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>A018F65B-3938-434B-9A7B-0E1BED8F66D0</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B9B6A508-D261-4BFD-AA30-6A0B48F0C151</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>C148969E-DF31-4493-9277-7AB8F9232041</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>E71BC0F3-3905-4C17-AD6E-BE87BD48238B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/jlippold/</string>
</dict>
</plist>
